body {
    font-size: 100%;
  }

#companyLogo {
    margin: 0px;
}

.navbar {
    background-color: #0a0a10;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
}
.btn-secondary {
    background-color: #0a0a10;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
    height: 5vw;
    width: 5vw;
}

.fab {
    color: white;
}

.mainText {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    animation-name: textFloat;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes textFloat {
    from {top: 30%;}
    to {top: 40%;}
  }


#floristName {
    font-size: 2vw;
    color: white;
    letter-spacing: 0.8vw;
}

#floristOccupation {
    font-size: 4vw;
    font-weight: bold;
    color: white;
    letter-spacing: 0.8vw;
}

.carousel-inner {
    z-index: -1;
}

.main-wrapper {
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .btn-toolbar {
      display: none;
    }
  }