//breakpoint variables
$breakpointSm : 576px;
$breakpointMd : 768px;
$breakpointLg : 992px;
$breakpointXl : 1200px;

//mixin for resizing footer elements after viewport width changes
@mixin footerResize() {
    @media (max-width : $breakpointLg) {
        height: auto;
    }
}