@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 1em;
  padding-top: 80px;
  @include bodyBottomMargin();
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Alegreya Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

//navbar and items

.navbar {
  background-color: #0a0a10;
  font-family: "Lucida Sans Unicode";
  font-size: 0.8em;
}

.btn-secondary {
  background-color: #0a0a10;
}

.social-last-child {
  @media only screen and (min-width: 992px) {
    margin-right: 10px;
    margin-left: auto;
  }
  padding-left: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 5vw;
  width: 5vw;
}

.fab {
  color: white;
}

/*@media only screen and (max-width: 992px) {
  .btn-toolbar {
    display: none;
  }
}*/

//carousel

.carousel-wrapper {
  position: relative;
  height: 90vh;
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  z-index: -1;
}

.carousel-item.one {
  @include carouselBackgroundImage("../images/carousel1.jpg");
}

.carousel-item.two {
  @include carouselBackgroundImage("../images/carousel2.jpg");
}

.carousel-item.three {
  @include carouselBackgroundImage("../images/carousel3.jpg");
}

//maintext

.mainText {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 30vh;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  animation-name: textFloat;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes textFloat {
  from {
    padding-top: 25vh;
  }
  to {
    padding-top: 30vh;
  }
}

#floristName {
  @include mainTextResponsive(3em, 10px, 2em, 5px);
}

#floristOccupation {
  @include mainTextResponsive(5em, 20px, 3em, 10px);
  font-weight: bold;
}

//introduction

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.intro-wrapper {
  min-height: 100vh;
}

#introduction {
  font-size: 3em;
}
#profilePic {
  max-width: 200px;
  @media only screen and (max-width: 576px) {
    max-width: 150px;
  }
}

//footer

footer {
  width: 100vw;
  @include footerResize();
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}

.footer-link a,
.footer-link p {
  display: inline-block;
  margin: 0;
  font-size: 0.8em;
  color: beige;
  text-decoration: none;
}

//gallery

.img-opaque:hover {
  opacity: 0.8;
}

//galleryModal background

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 60%;
  height: auto;
  max-width: 1300px;
}

.close {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: white;
  top: 30px;
  right: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.close:hover,
.close:focus {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.slide-number {
  color: beige;
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
}

.gallery-slide {
  display: none;
}

.next,
.prev {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-top: -50px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  padding-top: 5px;
  color: beige;
  font-size: 15px;
}

.card {
  width: 355px;
  height: 600px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card-body h3 {
  text-align: center;
}

.services-wrapper {
  padding: 20px 0px;
  height: auto;
}

.services-wrapper .container {
  margin-bottom: 60px;
}

.card-column {
  padding: 20px 10px 30px 10px;
}

.card-column.first {
  padding-left: 0;
}

.card-column.last {
  padding-right: 0;
}

.image-container {
  height: 300px;
  overflow-y: hidden;
}

// Contact form

.contact-wrapper {
  padding-bottom: 40px;
}

.form-container {
  height: auto;
  width: 80vw;
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

textarea {
  height: 90%;
}

label {
  font-size: 1.2em;
}

label>span,
p>span {
  color: red;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

.submit-group {
  width: 250px;
  margin: auto;
}

input[type=submit],
input[type=reset] {
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
}

input[type=submit]:hover,
input[type=reset]:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}
